.App {
  
  text-align: center;
}
.container{
  background-color: black;
}
.container h1{
  margin:0;
  text-align: center;
  color: slategray;
  
}
.profile{
  color: white;
  text-align: center;


}
.profile .url-container{
  color:coral;
}
.followers{
 color: red;
 padding:10px;
 height:100%;
}
.url{
  text-decoration: none;
}
img{
  width:30%;
}
button{
  padding: 1%;
  margin: 10px;
  width: auto;
  font-size: medium;
  text-align: center;
}